<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your complain is undergoing now, <%= @user.email %>!</h3>
    <p>We'll make sure to resolve your complain as soon as possible.</p>
  </body>
</html>