<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Sorry,Now we'll not consider your complain due to our policy, <%= @user.email %>!</h3>
    <p>However you can seek help from us in future.Thanks!</p>
  </body>
</html>