<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Thanks for submitting the complain, <%= @user.email %>!</h3>
    <p>Your complain has been resolved</p>
  </body>
</html>