<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You have been successfully resgistered on our system, <%= @user.email %>!</h3>
    <p>We'll welcome your complains in future.</p>
  </body>
</html>