<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div><%= link_to("Go Back",{:action => 'index'}, :class => 'back-to-index btn btn-default') %>				
			</div>
			<div>
				<%= render 'complaints/form' %>
			</div>
		</div>
	</div>
</div>